@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white antialiased;
}
